// ----
// Sass (v3.4.14)
// Compass (v1.0.3)
// Modular Scale (v2.1.1)
// ----

@import "compass/typography/vertical_rhythm";
@import "modular-scale";
@import "tmg-media-query";

//---------------------------
// Modular scale variables
// Config exemple
$tmg-mobile-ms: 13px 14px, $octave;
$tmg-tablette-ms: 14px 16px, $octave;
$tmg-desktop-ms: 16px 18px, 1.25;
$tmg-large-ms: 18px, 1.25;
$tmg-x-large-ms: 18px, 1.25;

//---------------------------
// Compass Vertical Rhythm variables

$base-line-height : 24px;
$rhythm-unit : "rem";
$rem-with-px-fallback : true;

//---------------------------
// Margin Placeholder
%invisible-all-margin {
  //Compass mixins
  @include margin-leader();
  //Compass mixins
  @include trailer();
}

//---------------------------
// Thony Mixins
// tmg-heading-size

@mixin tmg-heading-size($tmg-f-size : 16px, $tmg-ratio: $golden, $tmg-start: 6 ) {
  $h-val : 6;
  @for $i from 1 through $h-val {
    $heading : h#{$i};
    h#{$i} {
      // compass mixins
      $fz : ms(($tmg-start - $i), $tmg-f-size, $tmg-ratio);
      @include adjust-font-size-to( $fz );
    }
  }
}

// tmg-base-heading-style
@mixin tmg-base-heading-style() {
  %invisible-heading-not-void {
    @content;
  };
  $h-val : 6;
  @for $i from 1 through $h-val {
    $heading : h#{$i};
    h#{$i} {
      @extend %invisible-heading-not-void;
    }
    .h#{$i} {
      @extend #{$heading};
    };
  }
}

// tmg-select-heading-style
@mixin tmg-select-heading-style($selector) {
  %invisible-heading-select-not-void {
    @content;
  };
  $context : $selector;
  $h-val : 6;
  @for $i from 1 through $h-val {
    $heading : h#{$i};
    h#{$i}#{$context} {
      @extend %invisible-heading-select-not-void;
    }
    .h#{$i} {
      @extend #{$heading};
    };
  }
}

// tmg-others-block-container
@mixin tmg-others-block-container($selector : null) {
  p#{$selector} ,
  ul#{$selector} ,
  ol#{$selector} ,
  pre#{$selector} ,
  table#{$selector} ,
  blockquote#{$selector} ,
  dl#{$selector} ,
  form#{$selector} {
    @content;
  }
}

// tmg-others-block-list
@mixin tmg-others-block-list($selector : null) {
  li#{$selector} ,
  dt#{$selector} ,
  dd#{$selector} {
    @content;
  }
}

//  tmg-base-vertical-rhythm()
@mixin tmg-base-vertical-rhythm() {
  //Compass mixins
  @include establish-baseline();

  @include tmg-base-heading-style() {
    @extend %invisible-all-margin;
  };
  @include tmg-all-heading-size();
  @include tmg-others-block-container() {
    @extend %invisible-all-margin;
  };
}


// @Usage
// the base mixins
@include tmg-base-vertical-rhythm();

// @Usage
// Mixins for easy heading style
@include tmg-base-heading-style() {
  color : red;
}
// @Usage
// Mixins for easy heading style with a selector
@include tmg-select-heading-style(".truc") {
  color : blue;
}
// @Usage
// Mixins for easy block container style with selector
@include tmg-others-block-container(".foo") {
  color : green;
}
